@import url("https://fonts.googleapis.com/css?family=Exo+2");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

h1 {
  font-size: 30px;
}

/* a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
} */

:root {
  --neon-text-color: #f40;
  --neon-border-color: #08f;
  --billboard-width: 80%;
  --billboard-max-width: 800px;
}

body {
  background-color: black;
  color: white;
  font-family: "Ubuntu";
}

#billboard {
  margin: auto;
  z-index: 2;
  padding: 60px 20px;
  border-radius: 15px;
  font-family: "Exo 2";
  display: flex;
  width: var(--billboard-width);
  max-width: var(--billboard-max-width);
  text-align: center;
  background-color: black;
  color: white;

  align-items: center;

  animation: flicker 2s infinite alternate;

  box-shadow: 0 0 5rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

#billboard::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

#billboard:focus {
  outline: none;
}

@keyframes flicker {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #bc13fe,
      0 0 80px #bc13fe, 0 0 90px #bc13fe, 0 0 100px #bc13fe, 0 0 150px #bc13fe;
  }
  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #bc13fe,
      0 0 45px #bc13fe, 0 0 55px #bc13fe, 0 0 70px #bc13fe, 0 0 80px #bc13fe;
  }
}

#lights {
  margin: 60px auto -20px auto;
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  width: var(--billboard-width);
  max-width: var(--billboard-max-width);

  background-color: gray;
  height: 2px;
}

.light {
  margin-top: -110px;
  border-top: 110px solid white;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  width: 30px;

  border-radius: 25% 25% 0 0;
  mask-image: -webkit-gradient(
    linear,
    right top,
    right bottom,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 1))
  );
}

#light1 {
  transform: rotate(4deg);
  animation: rotateLight 25s infinite alternate;
}

#light2 {
  animation: blinker 1s linear infinite;
  transform: rotate(-4deg);
}

@keyframes rotateLight {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

@keyframes blinker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  2% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  8% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  9% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  12% {
    opacity: 0.1;
    text-shadow: 0px 0px rgba(242, 22, 22, 1);
  }
  20% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  25% {
    opacity: 0.3;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  30% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  70% {
    opacity: 0.7;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  72% {
    opacity: 0.2;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  77% {
    opacity: 0.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  100% {
    opacity: 0.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
}

#pole {
  width: 30px;
  height: 220px;
  background-color: rgb(96, 146, 146);
  margin: -60px auto 0 auto;
}

#base {
  min-width: 120px;
  width: 30%;
  height: 40px;
  background-color: gray;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#base a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

#road {
  width: 100%;
  height: 5px;
  background-color: gray;
}

/* --------- SKY---------- */

#sky {
  height: 60px;
}

.stars {
  position: absolute;
  color: #404c5d;
  text-align: right;
  animation: shine 2s linear infinite;
}

.stars:before,
.stars:after {
  color: #404c5d;
}

.stars:before {
  animation: shine 2s linear infinite alternate-reverse;
}

.stars:after {
  animation: shine 1s linear infinite;
}

#star1 {
  top: 4%;
  right: 4%;
}

#star2 {
  right: 10%;
}

#star3 {
  right: 12%;
  top: 10%;
  /* transform: rotate(-190deg); */
}

#star4 {
  top: 11%;
  right: 30%;
  /* transform: rotate(-90deg); */
}

#star5 {
  top: 13%;
  right: 40%;
  transform: rotate(-200deg);
}

#star6 {
  top: 2%;
  right: 60%;
  /* transform: rotate(-200deg); */
}

#star7 {
  top: 9%;
  right: 90%;
  transform: rotate(-200deg);
}

#star5 {
  top: 9%;
  right: 90%;
  transform: rotate(-200deg);
}

@keyframes shine {
  0%,
  100% {
    color: #404c5d;
  }
  50% {
    color: #8e9399;
  }
}

.shooting-star {
  position: relative;
  width: 1px;
  height: 1px;
  background-color: white;
}

.shooting-star::before {
  content: "";
  position: absolute;
  /* display: block; */
  width: 100px;
  right: 1px;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
}

.shooting-star:nth-of-type(1) {
  animation: shoot1 2s ease-in infinite;
  transform: rotate(10deg);
}
.shooting-star:nth-of-type(2) {
  animation: shoot2 2s linear infinite;
  transform: rotate(172deg);
}

@keyframes shoot1 {
  0% {
    top: 0;
    left: 40%;
  }
  10% {
    left: 100%;
    top: 100%;
  }
  10.1% {
    top: 0%;
    left: -200px;
  }
  100% {
    top: 0%;
    left: -200px;
  }
}

@keyframes shoot2 {
  0% {
    top: 10%;
    left: 70%;
  }
  12% {
    top: 80%;
    left: 0%;
  }
  12.1% {
    top: 0%;
    left: -200px;
  }
  100% {
    top: 0%;
    left: -200px;
  }
}

/* ------------------ AUTH ------------------ */
#account {
  font-size: 14px;
  float: right;
  /* margin: -50px 20px 0 0; */
}

#account span {
  /* border: 1px solid white; */
  border-radius: 10px;
  padding: 5px;
  box-shadow: white 1px 1px 1px;
}

#account span:nth-of-type(1) {
  display: none;
  margin-right: 10px;
}

/* ------------------ FORM ------------------ */
#buy form {
  width: 80%;
  margin: auto;
  /* display: flex; */
  /* justify-content: center; */
}

#buy form input,
#buy form textarea {
  width: 100%;
}

textarea {
  resize: none;
  outline: none !important;
  box-shadow: 0 0 10px #719ece;
}
